body {
  direction: rtl;
  background-color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f9fa;
}
*{
    box-sizing: border-box;
}
section {
  width: 60%;
  margin: auto;
  display: block;
  height: auto;
}
.container{
    width: 70%;
    display: block;
    margin: auto;
}
.first-div{
    width: 100%;
    float: right;
    background-color: #212529;
}
.second-div{
    width: 100%;
    display: block;
    float: right;
    background-color: white;
    height: 500px;
}
.header {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
hr {
  width: 100%;
  border: 2px solid;
  color: #065a60;
}
h2 {
  color: #065a60;
}
dl,
blockquote,
pre {
  text-align: justify;
  padding: 15px;
  margin: 0;
}
blockquote {
  width: 80%;
}
img {
  width: 25vw;
  height: 25vw;
  margin: 15px;
  border-radius: 50%;
}
.header-form-div{
    width: 100%;
    text-align: left;
    height: auto;
    margin-top: 20px;
}
.header-form-div h1{
    color: #065a60;
    text-align: center;
}
form{
    float: right;
    width: 100%;
    color: #212529;
}
label{
    font-size: 1.2em;
    padding: 20px;
}
input:not([type=submit] ,[type=reset]) ,select{
    width: 80%;
    display: block;
    margin: auto;
    color: #888a8c;
    padding: 7px;
    font-size: 1em;
    margin-top: 20px;
    text-align: left;
    border: 0;
    border-bottom: 1.5px solid #212529;
    outline: 0;
}

textarea{
    width: 80%;
    height: 80px;
    display: block;
    font-size: 1em;
    margin: auto;
    text-align: left;
    outline: 0;
    margin-top: 20px;
}
input[type=submit]{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 7px;
    font-weight: bold;
    background-color: #212529;
    color: white;
    border: 0;
    font-size: 1.1em;
}
input[type=submit]:hover{
    color: #065a60;
}
